In [62]:
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical
import tensorflow as tf
import tensorflow.keras as keras
import numpy as np

In [20]:
def explore_data(df):
    # this function applies many exploratory techniques to a given dataframe
    display("Head",
            df.head()
            .style
            .background_gradient(cmap='Blues')
           )
    display("Data Types",
            df.dtypes
            .to_frame()
           )
    display("Data Types Count",
            df.dtypes
            .to_frame()[0]
            .value_counts()
            .to_frame()
           )
    display("Nan Values per Column",
            df.isna()
            .sum()
            .to_frame()
            .sort_values(by=[0], ascending=False)
           )
    display("Descriptive Statistics",
            df.describe()
           )
    display("Correlation Matrix",
            df.corr()
            .style.background_gradient(cmap='coolwarm')
            .set_precision(2)
           )

# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [43]:
df = ds = pd.read_csv('tic-tac-toe.csv')
explore_data(df)

'Head'

'Data Types'

            0
TL     object
TM     object
TR     object
ML     object
MM     object
MR     object
BL     object
BM     object
BR     object
class    bool

'Data Types Count'

        0
object  9
bool    1

'Nan Values per Column'

       0
TL     0
TM     0
TR     0
ML     0
MM     0
MR     0
BL     0
BM     0
BR     0
class  0

'Descriptive Statistics'

         TL   TM   TR   ML   MM   MR   BL   BM   BR class
count   958  958  958  958  958  958  958  958  958   958
unique    3    3    3    3    3    3    3    3    3     2
top       x    x    x    x    x    x    x    x    x  True
freq    418  378  418  378  458  378  418  378  418   626

'Correlation Matrix'

In [68]:
ds.iloc[:,:-1] = ds.iloc[:,:-1].apply(lambda x: x=='x').astype('int')
X = ds.iloc[:,:-1]
y = ds.iloc[:,-1:]

C:\Users\eveli\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [25]:
#transformer_in = Normalizer().fit(df_input) 
#df_input = transformer_in.transform(df_input)

In [26]:
#df_input = tf.keras.utils.normalize(df_input, axis=1)
#df_output = tf.keras.utils.normalize(df_output, axis=1)

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [47]:
#1
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [50]:
#2
# Build the model.
model = Sequential([
  Dense(64, activation='relu', input_shape=(9,)),
  Dense(64, activation='relu'),
  Dense(2, activation='softmax'),   ## Usually the softmax is the last one to compensate for the high volume additions
])

# Compile the model.
model.compile(
  optimizer='adam',
  loss='categorical_crossentropy',
  metrics=['accuracy'],
)

# Train the model.
history = model.fit(
  X_train,
  to_categorical(y_train),
  epochs=5,
  batch_size=32,
)

# Evaluate the model.
model.evaluate(
  X_test,
  to_categorical(y_test)
)

Epoch 1/5
766/766 [==============================] - 0s 500us/step - loss: 0.6292 - accuracy: 0.6580
Epoch 2/5
766/766 [==============================] - 0s 132us/step - loss: 0.5718 - accuracy: 0.7037
Epoch 3/5
766/766 [==============================] - 0s 112us/step - loss: 0.5284 - accuracy: 0.7728
Epoch 4/5
766/766 [==============================] - 0s 105us/step - loss: 0.4948 - accuracy: 0.7911
Epoch 5/5
766/766 [==============================] - 0s 103us/step - loss: 0.4624 - accuracy: 0.8146
192/192 [==============================] - 0s 423us/step

[0.4640296747287114, 0.8020833134651184]

In [51]:
model.save_weights('tic-tac-toe.model')

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [75]:
# your code here

predictions = model.predict(X_test[:10])

# Print our model's predictions.
print(np.argmax(predictions, axis=1)) 

# Check our predictions against the ground truths.
print(y_test[:10])

[1 1 1 1 1 1 0 1 1 0]
     class
766  False
527   True
921  False
622   True
663  False
111   True
873  False
104   True
395   True
829  False

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [88]:
optimizer = tf.keras.optimizers.Adam(learning_rate=0.001)
optimizer

In [89]:
#2
# Build the model.
model = Sequential([
  Dense(64, activation='relu', input_shape=(9,)),
  Dense(64, activation='relu'),
  Dense(2, activation='softmax'),   ## Usually the softmax is the last one to compensate for the high volume additions
])

# Compile the model.
model.compile(
  optimizer=optimizer,
  loss='categorical_crossentropy',
  metrics=['accuracy'],
)

# Train the model.
history = model.fit(
  X_train,
  to_categorical(y_train),
  epochs=5,
  batch_size=32,
)

# Evaluate the model.
model.evaluate(
  X_test,
  to_categorical(y_test)
)

Epoch 1/5
766/766 [==============================] - 0s 202us/step - loss: 0.6481 - accuracy: 0.6214
Epoch 2/5
766/766 [==============================] - 0s 86us/step - loss: 0.5867 - accuracy: 0.6880
Epoch 3/5
766/766 [==============================] - 0s 78us/step - loss: 0.5487 - accuracy: 0.7585
Epoch 4/5
766/766 [==============================] - 0s 64us/step - loss: 0.5169 - accuracy: 0.7742
Epoch 5/5
766/766 [==============================] - 0s 69us/step - loss: 0.4883 - accuracy: 0.7924
192/192 [==============================] - 0s 473us/step

[0.4904511372248332, 0.7916666865348816]

In [90]:
#2
# Build the model.
model = Sequential([
  Dense(64, activation='relu', input_shape=(9,)),
  Dense(64, activation='relu'),
  Dense(2, activation='softmax'),   ## Usually the softmax is the last one to compensate for the high volume additions
])

# Compile the model.
model.compile(
  optimizer='adam',
  loss='categorical_crossentropy',
  metrics=['accuracy'],
)

# Train the model.
history = model.fit(
  X_train,
  to_categorical(y_train),
  epochs=15,
  batch_size=32,
)

# Evaluate the model.
model.evaluate(
  X_test,
  to_categorical(y_test)
)

Epoch 1/15
766/766 [==============================] - 0s 544us/step - loss: 0.6530 - accuracy: 0.6070
Epoch 2/15
766/766 [==============================] - 0s 81us/step - loss: 0.5827 - accuracy: 0.6775
Epoch 3/15
766/766 [==============================] - 0s 130us/step - loss: 0.5475 - accuracy: 0.7585
Epoch 4/15
766/766 [==============================] - 0s 83us/step - loss: 0.5182 - accuracy: 0.7872
Epoch 5/15
766/766 [==============================] - 0s 92us/step - loss: 0.4865 - accuracy: 0.8107
Epoch 6/15
766/766 [==============================] - 0s 85us/step - loss: 0.4586 - accuracy: 0.8316
Epoch 7/15
766/766 [==============================] - 0s 82us/step - loss: 0.4254 - accuracy: 0.8538
Epoch 8/15
766/766 [==============================] - 0s 70us/step - loss: 0.3931 - accuracy: 0.8734
Epoch 9/15
766/766 [==============================] - 0s 82us/step - loss: 0.3540 - accuracy: 0.8864
Epoch 10/15
766/766 [==============================] - 0s 96us/step - loss: 0.3171 - accuracy: 0.8995
Epoch 11/15
766/766 [==============================] - 0s 107us/step - loss: 0.2798 - accuracy: 0.9086
Epoch 12/15
766/766 [==============================] - 0s 85us/step - loss: 0.2440 - accuracy: 0.9269
Epoch 13/15
766/766 [==============================] - 0s 79us/step - loss: 0.2107 - accuracy: 0.9334
Epoch 14/15
766/766 [==============================] - 0s 98us/step - loss: 0.1860 - accuracy: 0.9504
Epoch 15/15
766/766 [==============================] - 0s 134us/step - loss: 0.1519 - accuracy: 0.9700
192/192 [==============================] - 0s 449us/step

[0.1587164799372355, 0.96875]

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:
# I guess combinging both methodes should work best?